@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1 class="display-4">Phone Compare Website</h1>
    <p>Welcome to Phone Compare, here you can finally see which phone is better!!!</a>.</p>
</div>
